body {
  font-size: 16px;
  color: #fff;
  background-color: #d1c6c0;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #8B8D8E;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0;
}

#nav-list {
  background-color: #e2e3e1;
  margin-top: 10px;
}
#nav-list a {
  color: #8B8D8E;
}
#nav-list a:hover {
  background: #f2f2f2;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #fff;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* MAIN PAGE */
h2 {
  color: #646566;
  font-weight: bold;
}

.container h3 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4em;
}

#chicken-text, #beef-text, #sushi-text {
  background-color: #9e9689
}
/* END MAIN PAGE */
